.app {
  text-align: center;
}
.example{
  color: #6ac4f0;
}
.open{
  position: absolute;
  right:42%;
  background: grey;
  width: 200px;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
